{{> head }}
    {{> navbar}}

    <div class="row">
        <div class="col-7">

            <h1>Angular</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores officiis repellendus eius sequi rerum id, enim ad deleniti veniam culpa quasi ut assumenda molestiae perspiciatis reiciendis sunt nulla, quos hic.</p>
        </div>

        <div class="col-4">
            <img src="assets/img/image.png" alt="" class="img-thumbnail">
        </div>

    </div>
    
    
    

    
    

{{> footer}}